In [19]:
import pandas as pd
from pandas.io import sql
from sqlalchemy import create_engine
import MySQLdb

In [21]:
olddf = pd.read_csv('all_data.csv')
olddf.head()
olddf.shape

(401394, 77)

In [22]:
olddf['index_col'] = olddf.index
df = olddf
df['game_time'] = pd.to_datetime(df['game_time'])

# df['game_time'] = df['game_time'].str.replace('T',' ')
# df['game_time'] = df['game_time'].str.replace('+00:00','')

# df.to_csv('edited_data.csv')

In [23]:
import mysql.connector

conn = mysql.connector.connect(host="localhost",user="root",passwd="1232",db="final_project")

# conn = mysql.connect(host="localhost",user="root",passwd="1232",db="final_project")

mycursor = conn.cursor()

con = MySQLdb.connect(host="localhost",user="root",passwd="1232",db="final_project")
# mycursor.execute("CREATE DATABASE final_project")

In [24]:
# # df.to_sql(con=conn, name='RawData', if_exists='replace')

# sql.to_sql(df, con=con, name='RawData', 
#                 if_exists='replace')

In [25]:
engine = create_engine('mysql+mysqlconnector://root:1232@localhost:3306/final_project', echo=False)
z=0
x=10000
while x <=len(df):
    
    df[z:x].to_sql(name='rawdata', con=engine, if_exists = 'append', index=False)
    x+=10000
    z+=10000
    print(z)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000

In [26]:
    df[-1395:].to_sql(name='rawdata', con=engine, if_exists = 'append', index=False)